body{
    position: absolute;
    width: 100vw;
    height: 100vh;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden; 
    
}
 
.gunler{

   
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: space-evenly;
   
}
.pzt{
    margin: 10px;
    margin-top: 70px;
    width: 210px;
    height: 70%;
    padding: 5px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(73, 104, 164);
    
    
    
}
.sal{
    margin: 10px;
    margin-top: 70px;
   
    width: 210px;
    height: 70%;
    justify-items: center;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    background: rgb(73, 104, 164);
    
}
.car{
    margin: 10px;
    margin-top: 70px;
    
    width: 210px;
    height: 70%;
    padding: 5px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(73, 104, 164);
    
}
.per{
    margin: 10px;
    margin-top: 70px;
   
    width: 210px;
    height: 70%;
    justify-items: center;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    background: rgb(73, 104, 164);
    
}
.cum{
    margin: 10px;
    margin-top: 70px;
    
    width: 210px;
    height: 70%;
    justify-items: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background: rgb(73, 104, 164);
    
}
.btn:hover{
 background: rgb(40, 87, 181);
 transition: 0s;
text-decoration: none;
    
}
.btn{
    
    margin-left: 25px;
}
.form-select{
    margin-top: 5px;
    margin-bottom: 5px;
}
h5{
    align-items: center;
    justify-content: center;
}


